* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #F6F2E9;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.logo-img {
    max-width: 30vw;
}

.line-break {
    width: 1500px;
    max-width: 35vw;
    border: 1px solid #B44921;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding-top: 10px;
    list-style-type: none
        /* margin-top: 40px; */
}

li {
    padding: 10px 20px;
    font-size: 20px;
    background: #e29277;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

li.active {
    background: #B44921;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* E95B2D */

.section-body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filterable-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 40px;
}

.card {
    flex-basis: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card.hide {
    display: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.card-img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;

}

.card-body {
    padding: 0 0 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.card-text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
}

.card.show {
    animation: show 1s ease-in-out 0s 1 forwards;
    transform-origin: center;
    -webkit-animation: show 1s ease-in-out 0s 1 forwards;
}

.card.hide {
    animation: hide 1s ease-in-out 0s 1 forwards;
    transform-origin: center;
    -webkit-animation: hide 1s ease-in-out 0s 1 forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    background: #333;
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F6F2E9;
}

footer .footer {
    height: 100%;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}


@media screen and (min-width: 768px) and (max-width: 1120px) {
    /* body {
        min-height: 100vh;
        min-width: 100vw;
    } */

    body {
        height: 100vh;
        width: 100vw;
    }

    .top-section {
        height: 20vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .img-container {
        height: 10vh;
    }

    .logo-img {
        max-width: 40vw;
    }

    .line-break {
        display: none;
    }

    .container-links {
        margin: 0;
        padding: 0;
    }

    .gallery {
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }

    li {
        padding: 5px 10px;
        font-size: 16px;
    }

    .section-body {
        height: 80vh;
    }

    .filterable-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        padding: 20px 20px;
        margin: 0;
    }

    .card-img {
        width: 40%;
        height: 150px;
    }

    .card-title {
        font-size: 18px;
        font-weight: 700;
        color: #333;
    }

    .card-text {
        font-size: 12px;
        font-weight: 500;
        color: #333;
        margin-top: 0;
    }

    .card-body {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer {
        height: 10vh;
        width: 100%;
    }
}


@media screen and (max-width: 767px) {
    /* body {
        min-height: 100vh;
        min-width: 100vw;
    } */

    body {
        height: 100vh;
        width: 100vw;
    }

    .logo-img {
        max-width: 50vw;
    }

    .line-break {
        display: none;
    }

    .container-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* margin-top: 40px; */
    }

    li {
        padding: 5px 10px;
        font-size: 16px;
    }

    .filterable-cards {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 30px 10px;
        margin: 0;
    }

    .card {
        flex-basis: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* align-items: flex-start; */
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    .card-img {
        width: 165px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        margin: 0;
    }

    .card-body {
        /* padding: 0 0 0 10px; */
        /* width: 100%;
        height: 100%; */
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 18px;
        font-weight: 700;
        color: #333;
    }

    .card-text {
        font-size: 12px;
        font-weight: 500;
        color: #333;
        margin-top: 5px;
    }

    .bottom {
        position: relative;
        left: -140px;
    }

    footer {
        font-size: 12px;
        height: 9vh;
    }
}